*{
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.logo-place{

}
.logo-itself{
  max-height: 500px;
  max-width: 500px;
}
.introduction{
  color: blue;
  position: relative;
  min-height: 15%;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 60px;
  padding-right: 60px;
}
.logo-place{

}
.Event-details{
  color: blue;
  padding-bottom: 40px;
  padding-left: 60px;
  padding-right: 60px;
}
.Faqs-section{
  color: blue;
  padding-bottom: 40px;
}
.Faqs-body{
  padding-top: 15px;   
}
.question{
  font-weight: bold;
  padding-left: 60px;
  padding-right: 60px;
  color: blue;
}
.answer{
  color: #5cdaa9;
  padding-bottom: 10px;
  padding-left: 60px;
  padding-right: 60px;
}
.Faqs-button{
  background-color: pink;
  color: white;
  border-radius: 5px;
  font-size: 25;
  padding: 15px;
}
.Faqs-button:hover{
  /*  font-weight: bold;  */
}
.Faqs-button:active{
  /*  font-weight: bold;
    background-color: yellow;  */
}
.Event-location{
  color: blue;
  padding-bottom: 40px;
}
.Map-button{
  background-color: pink;
  color: white;
  border-radius: 5px;
  font-size: 25;
  padding: 15px;
}
.Map-button:hover{
  /*  font-weight: bold;  */
}
.Map-button:active{
  /*  font-weight: bold;
    background-color: yellow;  */
}
.Map-place{
  min-height: 400px;
  padding-bottom: 40px;
  padding-top: 40px;
}
.hora{
  font-weight: bold;
}
.row{
  padding-bottom: 10px;
}
.martes{
  color: blue !important;
  padding-top: 50px;
 /*padding-bottom: 50px;*/
}
.sabado{
  color: blue !important;
  padding-bottom: 50px;
}
.domingo{
  color: blue !important;
  padding-bottom: 50px;
}
.boton{
  background-color: pink;
  color: white;
  border-radius: 5px;
  font-size: 25;
  padding: 15px;
  margin-bottom: 30px;
}
.boton-secundario{
  background-color: white !important;
  color: pink;
  border-color: pink;
  font-weight: bold;
  border-radius: 5px;
  font-size: 25;
  padding: 15px;
  margin-bottom: 10px;
}
.registros{
  min-height: 100px;
}
.centrado{
  display: block;
  top: 50%;    
  padding: 40px;
}
.Register-button{
  background-color: pink;
  color: white;
  border-radius: 5px;
  font-size: 50px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;

}
.Register-button:hover{
  font-weight: normal;   
}
.Register-button:active{
  background-color: #db5c24;
}
.button-holder{
  padding-top: 40px;
  padding-bottom: 40px;
}
.text-holder{
  padding-top: 40px;
}
.texto{
  padding-top: 20px;
}
.titulo{
  color: blue;
  font-weight: bold;
}
.descripcion{
  color: blue;
}
.introducction{
  padding: 50px;
}
.container{
}
.mail{
  font-weight: bold;
  color: blue;
}
.mail:hover{
  font-weight: bold;
  text-decoration: none;
}
.mail:active{
  font-weight: bold;
  font-size: 15px;
  color: blue; 
}
.about-carnet{
  padding-top: 40px;
  padding-bottom: 40px;
}
.about-ajuntament{   
}
.smart-city-week{
  min-height: 100px;
  padding-top: 40px;
}
.footer {
  background-color: #5cdaa9;
  position: relative;
  bottom: 0%;
  width: 100%;
  min-height: 15%;
  color:  white;
}
.countdown{
  size: 50px;
  font-weight: bold;
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: Futura, Impact;
  float: none;
  margin: 0;
  display: block;
  margin-right: auto;
  margin-left: auto;  
}