*{
  margin: 0px;
  padding: 0px;
  border: 0px;
}

body{
  background-color: grey;
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0px;
  padding: 0px;
}

.Register{
  display: table;
  width: 100%;
  min-height: 25%;
  background-color: white;
}

  .canvas{
    width: 100%;
    height: 80%;
    /* Necesito resituar esta mierda donde toca */
  }

.FAQ{
  display: table;
  width: 100%;
  height: 25%;
  background-color: white;
}

.Sponsors{
  display: table;
  width: 100%;
  height: 25%;
  background-color: white;
}

.Footer{
  display: table;
  width: 100%;
  height: 25%;
  background-color: green;
}
